.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name suehiro takumi
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "#" , class: "side-header__box__menu__new-group" do
            =fa_icon 'edit'
        %li.side-header__box__menu__edit-user
          =link_to "#" , class: "side-header__box__menu__edit-user" do
            =fa_icon 'cog '

  .groups
    =link_to "#" do
      .group
        %p.group__group--name 新規グループ
        %p.group__latest--message たけしくん


       
      

